<div class="row">
	<div class="col-lg-12">
		Название: <%= @category.name%><br>
		Alias: <%= @category.alias%><br>
	</div>
</div>
<div class="row">
	<%= link_to 'Назад', admin_categories_path%>
</div>