<div class="row">
	<div class="col-lg-12">
		Название: <%= @product.name%><br>
		Цена: <%= @product.price%><br>
		Описание:<br>
		<%= @product.body%>
	</div>
</div>
<div class="row">
	<%= link_to 'Назад', admin_products_path%>
</div>