<div class="row">
	<div class="col-xs-12">
	Все товары:
	<table class="table table-bordered table-hover">
		<tr><th>Название</th><th>Цена</th></tr>
		<% @products.each do |product|%>
		<tr>
			<td><%= link_to product.name, product_path(product)%></td>
			<td><%= product.price%></td>
		</tr>
		<%end%>	
	</table>
	</div>
</div>