<div class="row">
	<div class="col-lg-6 col-lg-offset-6">
		<div itemscope itemtype="http://schema.org/Product">
		  <span itemprop="name"><h1><%= @product.name%></h1></span>
		  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
		    <span itemprop="price"><%= @product.price%></span>
		  </div>
		  Описания товара:
		  <span itemprop="description">
		  	<%= @product.body%>
		  </span>
		</div>
	</div>
</div>